## Importing libraries

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

### Read reviews data

In [3]:
tagged = pd.read_csv("tagged_words.csv")

In [4]:
tagged.head()

     word   tag
0     the   DET
1  fulton  NOUN
2  county  NOUN
3   grand   ADJ
4    jury  NOUN

In [5]:
tagged[tagged.word.str.lower() == 'saw'].value_counts()

word  tag
saw   VERB    347
      NOUN      5
dtype: int64

In [6]:
words = list(set(tagged.word.str.lower()))
words[1]

'73'

In [10]:
for word in words[:5]:
    print(word)

nan
73
155
continue
vp

In [21]:

freq = pd.DataFrame()
for word in words[0:10]:
    data = tagged[tagged.word.str.lower() == word]
    print(data.value_counts().head(1))
    #freq.append(data.value_counts(), ignore_index= True)

freq

Series([], dtype: int64)
word  tag
73    NUM    4
dtype: int64
word  tag
155   NUM    1
dtype: int64
word      tag
continue  VERB    107
dtype: int64
word  tag
vp    NOUN    2
dtype: int64
word     tag
pending  ADJ    9
dtype: int64
word    tag
sholom  NOUN    1
dtype: int64
word     tag
redress  NOUN    1
dtype: int64
word    tag
invent  VERB    7
dtype: int64
word    tag
square  NOUN    107
dtype: int64

Empty DataFrame
Columns: []
Index: []

In [14]:
freq.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
data = pd.read_csv("tagged_words.csv")
s = "He wished he was rich"
 
def get_common_tag(data,word):
    if word.lower() in data['word'].unique():
        q = f"word=='{word.lower()}'"
        return word , data.query(q)['tag'].value_counts().head(1).index.tolist()[0]
    else:
        return f"{word} not in data"
 
for word in s.split(" "):
    print(get_common_tag(data,word))

In [ ]:
import pandas as pd
data = pd.read_csv("tagged_words.csv")
emmission_matrix = pd.crosstab(data['word'],data['tag'],normalize='columns')

In [ ]:
word = 'his'
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)
emmission_matrix['PRON'].loc['his'].round(3)